/* BASE commune */
.layer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* TYPE (optionnel si caché) */
.type {
    z-index: 1;
    width: 260px;
}

/* BRACELET = BASE */
.bracelet {
    z-index: 2;
    width: 300px;
}

/* CADRAN = PLUS PETIT */
.dial {
    z-index: 3;
    width: 140px;
}

/* AIGUILLES = même taille que cadran */
.hands {
    z-index: 4;
    width: 140px;
}
