body {
    margin: 0;
    font-family: Arial;
}

.container {
    display: flex;
    height: 100vh;
}

.controls {
    width: 30%;
    padding: 20px;
    background: #f5f5f5;
}

.viewer {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.watch {
    position: relative;
    width: 300px;
    height: 300px;
}

/* CENTRAGE PARFAIT */
.layer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* CALQUES */
.type { z-index: 1; width: 260px; }
.bracelet { z-index: 2; width: 300px; }
.dial { z-index: 3; width: 140px; }
.hands { z-index: 4; width: 140px; }
